<?xml version="1.0" encoding="utf-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2016 Stephen Carlson
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1"
		  package="com.stcarlso.goece" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21"/>
	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
				 android:allowBackup="true">
		<activity android:name=".activity.ECEActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.ResColorActivity" android:label="@string/guiColorCode"
				  android:windowSoftInputMode="adjustResize">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
					   android:value=".activity.ECEActivity"/>
		</activity>
		<activity android:name=".activity.SMDResistorActivity"
				  android:label="@string/guiSMDResistor"
				  android:windowSoftInputMode="adjustResize|stateVisible">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
					   android:value=".activity.ECEActivity"/>
		</activity>
		<activity android:name=".activity.OhmsLawActivity" android:label="@string/guiOhmsLaw"
				  android:windowSoftInputMode="adjustResize">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
					   android:value=".activity.ECEActivity"/>
		</activity>
		<activity android:name=".activity.ImpedanceActivity"
				  android:label="@string/guiImpedance"
				  android:windowSoftInputMode="adjustResize">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
					   android:value=".activity.ECEActivity"/>
		</activity>
		<activity android:name=".activity.SerParActivity" android:label="@string/guiSerPar"
				  android:windowSoftInputMode="adjustResize">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
					   android:value=".activity.ECEActivity"/>
		</activity>
		<activity android:name=".activity.VDivActivity" android:label="@string/guiVDiv"
				  android:windowSoftInputMode="adjustResize">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
					   android:value=".activity.ECEActivity"/>
		</activity>
		<activity android:name=".activity.CurCapActivity" android:label="@string/guiCurCap"
				  android:windowSoftInputMode="adjustResize">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
					   android:value=".activity.ECEActivity"/>
		</activity>
		<activity android:name=".activity.PcbTraceActivity" android:label="@string/guiPcbWidth"
				  android:windowSoftInputMode="adjustResize">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
					   android:value=".activity.ECEActivity"/>
		</activity>
		<activity android:name=".activity.PowerUseActivity" android:label="@string/guiPowerUse"
				  android:windowSoftInputMode="adjustResize">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
					   android:value=".activity.ECEActivity"/>
		</activity>
		<activity android:name=".activity.DeltaWyeActivity" android:label="@string/guiDeltaWye">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
					   android:value=".activity.ECEActivity"/>
		</activity>
	</application>
</manifest>
